doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      @media only screen and (max-width: 450px) {
        .col {
          display: block !important;
          float: none !important;
          width: 100% !important;
          -moz-box-sizing: border-box !important;
          -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
        }
        .text_left {
          text-align: left !important;
        }
        .text_right {
          text-align: right !important;
        }
        .text_center {
          text-align: center !important;
        }
        .xs_hidden {
          display: none !important;
        }
        .footer {
          padding: 30px 0;
        }
        .mobile_wrap {
          padding: 10px;
          border: 1px solid #DCDCDC;
          border-top: none;
          background-color: #f9fcfd;
          color: #5d5e5e;
        }
        .desktop_wrap {
          border: none !important;
        }
        .mobile_wrap_top_border {
          border-top: 8px solid #3498db;
        }
        .xs_block {
          display: block !important;
        }
        .foot_text_line_1, .foot_text_line_2 {
          margin: 0 !important;
        }
      }
      @media (min-width: 450px) {
        .sm_hidden {
          display: none !important;
        }
        .foot_text_line_1 {
          margin: 20px 0 10px !important;
        }
        .foot_text_line_2 {
          margin: 10px 0 20px;
        }
        .foot_text_span {
          margin-left: 10px;
        }
        .desktop_wrap {
          border-radius: 0.1px;
          border: 3px solid #DCDCDC;
        }
      }
      .dashed {
        border-top: 2px dashed #DCDCDC;
      }
      .solid {
        border-top: 2px solid #DCDCDC;
      }
  body
    .desktop_wrap(style="max-width: 640px; margin: 0 auto; padding: 10px; border: 3px solid #DCDCDC;")
      table(cellpadding="0" cellspacing="0" style="width: 100%")
        tr
          td.col.text_center(width="320" style="padding: 10px 0;")
            img(src='http://donlercom.qiniudn.com/img/dl_logol_blue.png' alt="动梨" style="background-size: contain; height: 30px;")
          td.col.text_center.xs_hidden(width="320" style="padding: 10px 0; text-align: right;")
            span(style="color: #DCDCDC; font-size: 24px;") 动梨员工账号激活
      .mobile_wrap_top_border
      .mobile_wrap
        p(style="color: #008000;")
          span(style="font-size:24px") Hi,
          span= who
        .solid.xs_hidden(style="border-top: 2px solid #DCDCDC;")
        div(style="font-size: 14px; line-height: 20px;")
          p 我们收到您在动梨的申请信息，请点击下面的链接来激活帐户：
          p: a(style="text-decoration: none; word-break: break-all;" href="#{link}") #{link}
        .dashed.sm_hidden
        div(style="margin-top: 40px;")
          p(style="color: #3bbee8;height:40px; line-height:40px; padding-left:40px; background:url(http://donlercom.qiniudn.com/img/icons/1_03.png) no-repeat left center; background-size: 40px;")
            span(style="font-size:24px; padding-left:10px;") 动梨 “活动助理”
          div(style="background:url(http://donlercom.qiniudn.com/img/icons/ico_01.png) no-repeat left top; padding-left: 30px; margin: 16px 0; background-size: 30px; min-height: 30px;")
            table(cellpadding="0" cellspacing="0" style="width: 100%; margin-left: 10px; font-size: 14px;")
              tr
                td.col.text_left(width="75" style="text-align: left; height: 30px; line-height: 30px;")
                  strong 快速建组
                td.col.text_left(style="text-align: left; line-height: 20px;")
                  span 在线完成公司内部或外部活动的创建和报名，移动客户端数据同步
          div(style="background:url(http://donlercom.qiniudn.com/img/icons/ico_03.png) no-repeat left top; padding-left: 30px; margin: 16px 0; background-size: 30px; min-height: 30px;")
            table(cellpadding="0" cellspacing="0" style="width: 100%; margin-left: 10px; font-size: 14px;")
              tr
                td.col.text_left(width="75" style="text-align: left; height: 30px; line-height: 30px;")
                  strong 简单管理
                td.col.text_left(style="text-align: left; line-height: 20px;")
                  span 员工活动日程列表，一键参与方便快捷，随时了解活动动态
          div(style="background:url(http://donlercom.qiniudn.com/img/icons/ico_02.png) no-repeat left top; padding-left: 30px; margin: 16px 0; background-size: 30px; min-height: 30px;")
            table(cellpadding="0" cellspacing="0" style="width: 100%; margin-left: 10px; font-size: 14px;")
              tr
                td.col.text_left(width="75" style="text-align: left; height: 30px; line-height: 30px;")
                  strong 随时分享
                td.col.text_left(style="text-align: left; line-height: 20px;")
                  span 活动支持相册上传，活动结束后手机端快速分享，随时记录
          div(style="background:url(http://donlercom.qiniudn.com/img/icons/ico_04.png) no-repeat left top; padding-left: 30px; margin: 16px 0; background-size: 30px; min-height: 30px;")
            table(cellpadding="0" cellspacing="0" style="width: 100%; margin-left: 10px; font-size: 14px;")
              tr
                td.col.text_left(width="75" style="text-align: left; height: 30px; line-height: 30px;")
                  strong 日程管理
                td.col.text_left(style="text-align: left; line-height: 20px;")
                  span 日程、提醒、双重辅助，员工公司活动事务井井有条
        .solid.xs_hidden(style="border-top: 2px solid #DCDCDC;")
        .dashed.sm_hidden
        .footer
          p.text_center.foot_text_line_1(style="color: #989898; margin: 20px 0 10px; font-size: 14px; line-height: 20px;") 本邮件由系统自动发出，请勿回复
          div.foot_text_line_2(style="width: 100%; margin: 10px 0 20px; color: #989898; font-size: 14px;")
            .col.text_center(style="float: left;")
              span(style="margin: 0; line-height: 20px;") Copyright
            .col.text_center.foot_text_span(style="float: left;")
              span(style="margin: 0; line-height: 20px;") 国内第一家企业级员工活动管理平台
            .col.text_center.foot_text_span(style="float: left;")
              span(style="margin: 0; line-height: 20px;") donler.com
            div(style="clear: both;")
        .dashed.xs_hidden(style="border-top: 2px dashed #DCDCDC;")
        table(cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto; padding-top: 10px; font-size: 16px;")
          tr
            td.col(style="width: 33.33%;")
              div(style="background:url(http://donlercom.qiniudn.com/img/icons/kefu.png) no-repeat left center; height:30px; line-height:30px; padding-left:40px !important; background-size: 30px; font-size: 14px;")
                span service@donler.com
            td.col(style="width: 33.33%; margin-top: 10px;")
              div(style="background:url(http://donlercom.qiniudn.com/img/icons/sina.png) no-repeat left center; height:30px; line-height:30px; padding-left:40px !important; background-size: 30px; font-size: 14px;")
                span @donler动梨
            td.col(style="width: 33.33%; margin-top: 10px;")
              div(style="background:url(http://donlercom.qiniudn.com/img/icons/wx.png) no-repeat left center; height:30px; line-height:30px; padding-left:40px !important; background-size: 30px; font-size: 14px;")
                span 微信号：donler
